.icon {
  display: inline-block;
  vertical-align: bottom;
}

.iconLarge {
  margin-bottom: 0rem;
  cursor: pointer;
}

.iconDefault {
  align-self: center;
  justify-self: center;
  cursor: pointer;
}