.username {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.sign-out-button {
  border: none;
  background: none;
  cursor: pointer;
  color: #2c3e50;
  font-weight: bold;
  font: inherit;
  padding: 0;
  margin: 0;
}